@media screen and (max-width: 1323px) {
    /* Content Styles */
    .header-wrap h1 {
        font-size: clamp(56px, 5vw, 64px);
        margin: 0;
        padding: 0;
    }

    .header-wrap .subtitle {
        font-size: clamp(24px, 2vw, 28px);
        margin: 0;
        padding: 0;
    }

    .header-content {
        margin-top: 0;
    }

    .header-wrap .description {
        width: 80vw;
        min-height: 100%;
        font-size: clamp(16px, 2vw, 20px);
    }

    .accomodations {
        padding: 0 10px;        
    }

    .introduction-gallery .images img {
        width: 230px;
        height: 120px;
    }

    .images img.tall {
        height: 140px;
    }   
}

@media screen and (max-width: 992px) {
    .accomodations {
        padding: 0 20px;
    }
    
    .introduction-gallery {
        width: 100%;
    }

    .room-heading h2 {
        font-size: clamp(24px, 2vw, 28px) !important;
    }

    .rooms-gallery {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }

    .rooms {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* default 2 columns */
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .introduction {
        padding: 10px;
        margin-top: 10px;
    }

    .header-wrap h1 {
        font-size: clamp(36px, 5vw, 42px) !important;
    }

    .header-wrap .subtitle {
        font-size: clamp(18px, 2vw, 22px) !important;
        margin: 0; 
        padding: 0;
    }

    .header-wrap .description {
        width: 80vw;
        min-height: 100%;
        font-size: clamp(14px, 2vw, 16px);
    }

    .booking-bar {
        display: none;
    }

    .book-btn-mobile {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .book-btn {
        background-color: #f2eadd;         
        color: rgba(0,0,0,0.8);     
        font-family: var(--font-body-poppins);                
        font-weight: 600;               
        border: none;                     
        border-radius: 25px;        
        padding: 12px 24px;            
        font-size: 14px;                 
        cursor: pointer;                
        text-transform: uppercase;        
    }

    .introduction-gallery .images img {
        width: 150px;
        height: 80px;
    }

    .images img.tall {
        height: 100px;
    }   
}

@media (max-width: 600px) {
    .introduction-gallery {
        padding: 1em;
    }

    .group-1, .group-2 {
        gap: 3px;
    }

    .introduction-gallery .images img {
        width: 120px;
        height: 80px;
    }

    .images img.tall {
        height: 100px;
    }  

    .rooms {
        display: flex;
        flex-direction: column;
    }
}