/* Global Styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

/* Root Variables */
:root {
    --font: 'Cinzel', serif;
    --font-body: 'Montserrat', sans-serif;
    --font-body-poppins: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #f2f2f2;
}

ul {
    list-style: none;
}

.container {
    background: #F2F2F2;
}

.content-amenities {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 50px;
    padding: 50px 0;
    justify-content: center; /* center the whole grid horizontally */
}

/* Footer */
.footer-container {
    padding-top: 50px !important; 
}
