/*
    This file contains the styles for the client layout 
    
    List of affected pages:
    - Our Menu
    - Accomodation
    - Amenities

*/

/* Header Content */
.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;

}

.header-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
    gap: 1px;
}

.header-wrap h1 {
    font-family: var(--font);
    font-size: 92px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.header-wrap .subtitle {
    font-family: var(--font-body);
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.header-wrap .description {
    font-family: var(--font-body);
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    width: 1000px;
    min-width: 100%;
    line-height: 1.3;
}

/* Content Styles */
.content-container {
    background: #F2F2F2;
    height: auto;
    padding: 0 50px 50px;
}

.navigation-wrap {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid rgba(21, 29, 36, 0.3);
    margin-top: 50px;
} 

.navigation-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    font-family: var(--font-body);
    text-transform: uppercase;
    font-weight: 500;
}

.navigation-links li a {
    color: #151D24;
}

/* Card Styles */
.card-menu.hide {
    display: none;
}

.show {
    display: block;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(4, 400px);
    gap: 50px;
    padding: 50px 0;
    justify-content: center; /* center the whole grid horizontally */
}

.card-menu {
    width: 400px;
    max-width: 100%;
    height: 500px;
    border-radius: 10px;
    background: #FFFFFF;
}

.card-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img img {
    width: 400px;
    height: 275px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card-content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.card-title .price {
    font-family: var(--font-body);
    font-size: 18px;
    font-weight: 400;
}

.card-title h3 {
    font-family: var(--font);
    font-size: 20px;
    color: #151D24;
    font-weight: 500;
    text-align: center;
}

.card-category h4 {
    font-family: var(--font-body);
    font-size: 16px;
    font-weight: 500;
        text-align: center;
}

.card-description p {
    font-family: var(--font-body);
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 22px;
        text-align: center;
}
