/* Global Styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

/* Root Variables */
:root {
    --font: 'Cinzel', serif;
    --font-body: 'Montserrat', sans-serif;
    --font-body-poppins: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #f2f2f2;
}

ul {
    list-style: none;
}

.fa-user {
    margin-right: 5px;
}

/* JS */
.cards.hide {
    display: none;
}

.show {
    display: block;
}

/* Container */
.container {
    color: #000;
}

/* Header */
.header-container {
    border: 1px solid red;
    width: 100%;
    height: 80vh;
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
}

.background-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.5);
}

.header {
    position: relative;
}

/* Navigation */
.nav {
    font-family: var(--font-body);
    height: 100px;
    padding: 0 50px;
    font-weight: 500;
}

.nav-wrap {
    display: flex;
    flex-direction: row;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
    gap: 40px;
    text-transform: uppercase;
    font-size: 16px;
}

.nav-links.right {
    display: flex;
    justify-content: flex-end;
}

.nav-links a:hover {
    color: #FFDDC7;
}

.nav-right {
    display: flex;
    justify-content: end;
}

.logo img {
    width: 100px;
    height: 100px;
    transform: scale(1.7);
}

.hamburger-menu {
    display: none;
}

.close {
    display: none;
}

.hero-section {
    display: none;
    font-family: var(--font-body);
}



/* History */
.title-wrap {
    line-height: 1;
    text-align: center;
}

.descriptor {
    font-family: var(--font-body);
    font-size: 16px;
    font-weight: 300;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font);
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 20px;
    position: relative;
    gap: 15px;
}

.title::before,
.title::after {
    content: "";
    display: block;
    width: 100px;
    margin: 20px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.4);
}

.text-wrap {
    line-height: 1.2;
    margin: 0 5px;
    padding: 5px;
}

/* JS Variables */
.hidden {
    display: none;
}

/* Hotel History */
.hotel-history-container {
    margin-top: 30px;
    padding: 50px 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hotel-history-container .title-wrap .title {
    font-size: 24px;
}

.history-container {
    margin: 0 50px;
    width: 100%;
    max-width: 945px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.history {
    font-family: var(--font-body);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5;  
    text-align: center;
}

.hotel-info {
    text-align: center;
    margin-top: 25px;
}

.hotel-location,
.hotel-contact {
    font-family: var(--font-body);
    font-size: 16px;

}

/* Amenities */
.amenities-container {
    padding: 50px 0;
}

.amenities {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.amenity {
    width: 1440px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 700px;
}

.heading-wrap {
    text-align: start;
    line-height: 1;
}

.amenities-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-heading {
    font-family: var(--font-body);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
}

.heading {
    font-family: var(--body);
    font-size: 32px !important;
    font-weight: 300;
    letter-spacing: 2px;
}

.description {
    font-family: var(--font-body);
    font-weight: 16px;
    letter-spacing: 2px;
    font-weight: 400;
    margin-top: 20px;
}

.amenity img {
    width: 100%;
    max-width: 655px;
    height: 100%;
    max-height: 400px;
    object-fit: cover;
}

.outdoor-dining {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 125px;
}

/* The Rose Pavilion */
.rose-pavilion-container {
    padding: 133px 0;
}

.rose-pavilion {
    border: 10px solid rgba(218, 221, 226, 0.3);
    width: 1440px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin: 0 auto;
}

.gallery {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.main-image img {
    width: 100%;
    max-width: 350px;
    height: 100%;
    min-height: 425px;
    object-fit: cover;
}

.thumnails {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.thumnail img {
    width: 100%;
    max-width: 290px;
    height: 100%;
    max-height: 265px;
    object-fit: cover;
}

.explore-now {
    font-family: var(--font-body);
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 40px;
}

.explore-now:hover {
    color: #5F5C6D;
}

/* Exclusive Venues */
.exclusive-venues-container {
    padding: 120px 0;
    background: #F0EEEA;
    max-width: 100%;
}

.exclusive-venues {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    border: 10px solid rgba(218, 221, 226, 0.3);
    border-top: none;
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
}

.exclusive-venues::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 550px; /* Length of the top border */
    border-top: 10px solid rgba(218, 221, 226, 0.3);
}

.exclusive-venues .text-wrap,
.accomodations .text-wrap {
    width: 650px;
    height: 595px;
    padding: 0 40px;
}

.left-aligned-content {
    display: flex;
    align-items: center;
    position: relative;
}


.exclusive-venues .gallery img,
.accomodations .gallery img {
    width: 800px;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Accomodation */
.accomodations-container {
    padding: 120px 0;
}

.accomodations {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    border: 10px solid rgba(218, 221, 226, 0.3);
}

.right-aligned-content {
    display: flex;
    align-items: center;
    position: relative;
}

/* Instagram Gallery */
.instagram-gallery .descriptor {
    text-transform: uppercase;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 100%; /* Ensures it fits within the screen */
    overflow: hidden; /* Prevents overflow issues */
}

.cards-container .cards {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: repeat(6, minmax(0, 1fr)); /* Adjusts based on container width */
    grid-template-rows: repeat(4, minmax(0, auto)); /* Adjust row height dynamically */
    grid-auto-flow: dense;
    max-width: 100%;
}

.cards .card:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
    width: 100%; /* Make it flexible */
    height: auto; /* Keep proportions */
}

.cards .card:last-child {
    grid-column: 5 / span 2;
    grid-row: 2 / span 3;
    width: 100%; /* Make it flexible */
    height: auto; /* Keep proportions */
}

.cards .card img {
    width: 100%; /* Adjusts based on grid cell */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
    object-position: top;
}

.cards .card:first-child img,
.cards .card:last-child img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

/* Footer Top */
.footer-top {
    background-color: #F0EEEA;
    position: relative;
    z-index: 1;
    padding-bottom: 300px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .title-wrap {
    margin-top: 70px;
}

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    font-family: var(--font-body);
    font-size: 16px;
    letter-spacing: 1px;
}

.google-maps {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.google-maps iframe {
    width: 80vw;
    height: 500px;
    min-height: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 2px 0 0 rgba(0, 0, 0, 0.2);
}

/* Footer */
.footer-heading {
    font-family: var(--font-body) !important;
    font-size: 18px !important;
    font-weight: 500;
}

.footer-hotel-info .sub-heading, 
.footer-links ul,
.help-center {
    font-family: var(--font-body);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
}

.footer-hotel-info,
.footer-links,
.help-center,
.socials {
    line-height: 2;
}

.socials img {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.links li a:hover {
    color: #FFDDC7;
}

.footer-container {
    background: #0E0E0E;
    color: #F2F2F2;
    position: relative;
    padding-top: 300px;
}

.footer-wrap .wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.footer-hotel-info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.help-center {
    display: flex;
    flex-direction: column;
}

/* Footer End */
.footer-end {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 50px;
}

.copyright, 
.developer {
    font-family: var(--font-body);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
}

.copyright {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.developer {
    margin-left: auto;
    padding: 10px;
}

/* Modal */
.modal {
    position: fixed;
    bottom: 0;
    padding: 1em;
    z-index: 10;
    right: 0;
    z-index: 9999;
}

.modal button {
    border: none;
    background: rgba(0, 0, 0, 0.7); /* semi-transparent white */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal button i {
    color: #f8f8f8;
}