/* Main - Media Query */
@media screen and (max-width: 1323px) {
    /* Content Styles */
    .content-container.menu {
        padding: 0 100px !important;
    }

    .header-wrap .description {
        width: 80vw;
        min-height: 100%;
        font-size: clamp(16px, 2vw, 20px);
    }

    .mobile-logo img {
        width: 100px;
        height: 100px;
        transform: scale(1.5);
    }

    .mobile-logo {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 10px;
        display: block;
    }

    .header-wrap h1 {
        font-size: clamp(56px, 5vw, 72px);
        margin: 0;
        padding: 0;
    }

    .header-wrap .subtitle {
        font-size: clamp(24px, 2vw, 28px);
        margin: 0;
        padding: 0;
    }

    /** Card Styles */
    .menu-burger-wrap {
        display: none;
        margin-right: 30px;
    }

    .navigation-links {
        gap: 2em;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
    }

    .navigation-links li {
        font-size: clamp(16px, 2vw, 16px);
        white-space: nowrap; /* prevent text inside li from breaking into multiple lines */
    }
}

/* Tablets and Phones */
@media screen and (max-width: 992px) {
    .content-container.menu {
        padding: 0 !important;
    }

    .header-wrap h1 {
        font-size: clamp(48px, 5vw, 64px) !important;
    }

    .header-wrap .subtitle {
        font-size: clamp(20px, 2vw, 24px) !important;
    }

    .header-wrap .description {
        font-size: clamp(14px, 2vw, 18px) !important;
    }

    .content-container {
        padding: 0 20px 20px !important;
    }

    .navigation {
        display: flex;
        justify-content: end;
        border-bottom: none !important;
    }

    .navigation-links.menu-nav {
        display: flex;
        gap: 30px;
        justify-content: start;
    }

    .menu-container {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .card-menu {
        width: 300px;
    }

    .card-img img {
        width: 100px;
        height: 100px;
        
    }

    .menu.card-category {
        margin: 0 !important;
    }

    .card-title h3 {
        font-size: 16px;
    }

    .card-category h4 {
        font-size: 12px;
    }

    .card-description p {
        font-size: 12px;
        letter-spacing: 1px;
    }

    #menu-template {
        border: none;
        padding: 0;
    }

    .navigation-wrap {
        border-bottom: none;
        position: relative;
    }

    .navigation-links {
        display: none;
    }

    .menu-burger-wrap {
        display: flex;
        flex-direction: row;
        gap: 1em;
        align-items: center;
    }

    .menu-burger {
        font-size: 24px;
    }

    .menu-burger i {
        color: rgba(21, 29, 36, 0.8);
    }

    .menu-burger-description span {
        font-size: calc(16px, 1vw, 20px);
        font-family: var(--font-body-poppins);
        font-weight: 600;
        text-transform: uppercase;
        color: rgba(21, 29, 36, 0.8);
    }

    #menu-template .menu-category-section {
    border: none;  /* remove border only for the original template */
    }

    /* Menu Dropdown */
    .menu-links {
        visibility: hidden;
        position: absolute;
        right: 0;
        top: 80%;
        display: block;
        border: 1px solid rgba(21, 29, 36, 0.3);
        z-index: 1;
        width: 200px;
        height: 400px;
        overflow-y: scroll;
        background: #fff;
        padding: 15px;
        border-radius: 0 0 5px 5px;

        transform: translateY(-20px); /* start a little above */
        transition: all 0.3s ease;
        opacity: 0;
    }

    .menu-links.visible {
        visibility: visible;
        opacity: 1;
        transform: translateY(0); /* move into place */
        border-top: 3px solid #4CB0F4;
    }

    .navigation-links {
        display: flex !important;
        flex-direction: column;
        gap: 5px !important;
    }

    .navigation-links li {
        border-bottom: 1px solid rgba(21, 29, 36, 0.1);
        padding: 10px 5px;
        font-size: clamp(10px, 2vw, 16px);
    }

    .header-container{
        min-height: 60vh !important;
    }

    .background-container {
        height: 60vh;
    }

    .header-content {
        height: 30vh;
    }

    .gallery-heading h2 {
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {
    .gallery-heading h2 {
        font-size: 18px;
    }

    .category-title h2 {
        font-size: 18px;
    }

    .card-title h3,
    .price {
        font-size: 14px !important;
    }

    .card-description p {
        font-size: 10px !important;
        letter-spacing: 0;
        line-height: 1.5;
    }

    .card-menu {
        display: flex;
        align-items: center;
    }

    .gallery-heading {
        padding: 20px 0;
        border-top: 0.2px solid rgba(21, 29, 36, 0.1);
    }
}