/* Global Styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Root Variables */
:root {
    --font: 'Cinzel', serif;
    --font-body: 'Montserrat', sans-serif;
    --font-body-poppins: 'Poppins', sans-serif;
}


body {
    background: #fff;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

/* Profile Picture */
.profile img {
    width: 50px;
    border-radius: 50%;
    border: 2px solid green;
}

/* Root Variables */
:root {
    /* Fonts */
    --font: 'Cinzel', serif;
    --font-body: 'Montserrat', sans-serif;
    --font-body-poppins: 'Poppins', sans-serif;

    /* Font Size */
    --brand-name: 20px;
    --navlinks: 16px;
    --primary-header: 24px;
    --secondary-header: 18px;
}

/* Container */
.container {
    display: flex;
    height: 100vh;
    position: relative;
}


/* Sidebar */
.sidebar {
    width: 100%;
    max-width: 360px;
    height: 100vh;
    box-shadow: 2px 0px 0px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0; 
    display: flex;
    flex-direction: column;
}

.sidebar .logo img {
    width: 73px;
    height: 75px;
    transform: scale(1.5);
}

.logo {
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
}

.logo h3 {
    font-family: var(--font);
    font-size: var(--brand-name);
    font-weight: 400;
    letter-spacing: 1px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
}

.nav-links ul {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.nav-links li {
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 10px;
    border-radius: 50px;
    font-size: var(--navlinks);
    font-family: var(--font-body);
    cursor: pointer;
}

.nav-links a {
    display: flex;
    align-items: center;
}

.nav-links li:hover {
    background: #c8fcea;
}

/* JS Classlist */
.active {
    background: #F6F4F5;
}

.default {
    background: #c8fcea;
}

.nav-links i {
    font-size: 20px;         /* Set icon size */
    margin-right: 10px;      /* Add space between the icon and text */
}

/* Flex Container */
.flex-container {
    flex-grow: 1;
    padding: 0 30px;
    margin-left: 360px; 
    overflow: auto; 
}

.display {
    visibility: visible;
    opacity: 1;
}

/* Top Nav */
.top-nav {
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.header-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

.header-actions .icons {
    font-size: 24px;
}

.top-nav .search {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 560px;
    margin-right: 10px;
}

.top-nav .search input {
    display: block;
    width: 100%;
    max-width: 565px;
    height: 45px;
    padding: 10px;
    font-size: var(--navlinks);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    outline: none;
    font-family: var(--font-body);
}

.top-nav .search i {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.40);
    position: absolute;
    right: 0;
    margin-right: 10px;
}

/* Main Content */
.main-content {
    display: flex;
    flex-direction: column;
    font-family: var(--font-body);
}

.main-content .main-heading {
    padding: 30px 0;
}

.main-content .main-heading h3 {
    font-size: var(--primary-header);
    font-weight: 500;
    letter-spacing: 1px;
    
}

.content {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 15vh); 
    gap: 20px; 
}

/* Dish Category */
.dish-category {
    width: 215px;
    background: #f8f8f8;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background: #f8f8f8;
    box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.25);

}

.dish-category .sub-heading {
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
    padding-left: 10px;
}

.dish-category .sub-heading h3 {
    font-size: var(--secondary-header);
    font-weight: 500;
    letter-spacing: 1px;
}

.dish-category ul {
    width: 180px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.dish-category ul li {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
    padding: 0 10px;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}

.dish-category ul li:hover {
    background: #c8fcea;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
    color: #474554;
}

.dish-active {
    background: #c8fcea !important;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
    color: #474554;
}

.dish-count {
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 180px;
    height: 40px;
    background: #4C81F1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    gap: 5px;
    margin: 0 auto;
    border-radius: 10px;
    cursor: pointer;
}

.dish-category .new-category {
    margin-top: auto;
    margin-bottom: 20px;
}

.btn i {
    font-size: 18x;
}

/* Manage Menu */
.manage-menu {
    flex: 1;
    width: 100%;
    border-radius: 10px;
    background: #f8f8f8;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
    position: relative;
    padding: 0 10px;
}

.top-menu-nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #f8f8f8;
}

.menu-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 15px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
}

.flex-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3em;
    width: 100%;
    margin-right: 10px;
}

.menu-nav .sub-heading h3 {
    font-size: var(--secondary-header);
    font-weight: 500;
}

.menu-search {
    display: flex;
    align-items: center;
    position: relative;
    flex-grow: 1; /* Allow flexible spacing */
    max-width: 300px; /* Reduce max width */
}

.menu-search input {
    display: block;
    width: 100%;
    max-width: 565px;
    height: 35px;
    padding: 10px;
    font-size: var(--navlinks);
    border-radius: 50px;
    outline: none;
    border: none;
    background: #fff;
    font-family: var(--font-body);
}

.menu-search i {
    position: absolute;
    right: 0;
    margin-right: 10px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.25);
}

.menu-nav .add-menu-btn {
    width: 150px;
    height: 40px;
    background: #4C81F1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    gap: 2px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-size: 14px;
}

.menu-nav .add-menu-btn:hover {
    background: #3a6de0;
    box-shadow: 0 4px 12px rgba(76, 129, 241, 0.4);
}

/* Menu List */
#menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    justify-content: center;
    margin: 0 auto; 
    padding: 10px;
    box-sizing: border-box;
}

.menu .cards {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 250px;
    height: 270px;
    border-radius: 5px;
    background: #fff;
    display: flex;
}

.menu .card {
    margin: 0 10px;
}

.menu .card-menu-btn {
    display: flex;
    cursor: pointer;
    width: fit-content;
    float: right;
}


.menu .card-image img {
    width: 230px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.menu .text-wrap {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 5px;
}

.menu .text-wrap .title {
    font-size: var(--navlinks);
    font-weight: 500;
}

.menu .text-wrap .price {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.75);
}

.menu .category {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.menu .category .card {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    text-align: start;
    border-radius: 5px;
    font-size: 10px;
    letter-spacing: 1px;
    padding: 5px;
    margin-left: 0;
}